
*.pyc
CLAUDE.md
/CrowdSonic/node_modules
/CrowdSonic/dist
/headless_ultrasonic/dist
/headless_ultrasonic/build
/headless_ultrasonic/resources/_internal
/CrowdSonic/resources/headless_ultrasonic/_internal
/CrowdSonic/release
/CrowdSonic/build/*
!/CrowdSonic/build/icons
!/CrowdSonic/build/icon.png
!/CrowdSonic/build/icon_1280.png
/CrowdSonic/build/icons/.DS_Store
/headless_ultrasonic/build_test_venv
/headless_ultrasonic/build_linux_amd64
/headless_ultrasonic/build_onefile_amd64
/CrowdSonic/resources
!/CrowdSonic/resources/headless_ultrasonic/
!/CrowdSonic/resources/headless_ultrasonic_intel/
/headless_ultrasonic_builds
