
*.pyc
CLAUDE.md
/CrowdSonic/node_modules
/CrowdSonic/dist
/headless_ultrasonic/dist
/headless_ultrasonic/build
/headless_ultrasonic/resources/_internal
/CrowdSonic/resources/headless_ultrasonic/_internal
/CrowdSonic/release
/CrowdSonic/build
/headless_ultrasonic/build_test_venv
/headless_ultrasonic/build_linux_amd64
/headless_ultrasonic/build_onefile_amd64
/CrowdSonic/resources
